# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
__pycache__
gen
data

*.mex[aw]64
*.csv
*.xls
*.xlsx
tmp/
cache/

*.pdf
*.eps
cache*/
